/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 5, 2013, 5:47:00 PM
    Author     : rob
*/
body
{
    /*  background-color:rgba(255,0,127,0.06); */
}
.white{
    visibility: hidden;
}
.selects{
    margin: 5px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.grid1
{
    margin-left: 17px;
    margin-right: 7px;
}
.gridPullout
{
    background-color: #eeeeee;
    position: absolute;

    top: 43px;
    float:right;
    display: none;

    box-shadow: -5px 3px 6px #7E5B63;
    -webkit-box-shadow: -5px 3px 6px #7E5B63;
    -moz-box-shadow: -5px 3px 6px #7E5B63;
    padding: 4px;

    border-style:solid;
    border-color:white;
    border-right: 0px;

    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;


    -moz-border-radius-bottomleft: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;

}
.gridPulloutContent
{
    height: 630px;
    padding: 6px;
    border-style:solid;
    border-color: #AF407E;
    border-right: 0px;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color:white;
    font-family: Arial;
    max-width: 310px;
}
.customRangeBox
{
    height: 21px !important;
    width: 56px !important;
    border-style:solid;
    border-color:wheat;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 13px !important;
    padding-left: 5px !important;
    text-align: center !important;
}
.feedbackWindow
{
    text-align: center;
    display: none;
    position:absolute; top:0px; left: 0px;
    background-color:#F2EFFB;
    border-style:solid;
    border-width:6px;
    border-color: #C94C6F;
    border-top: 0;
    padding: 8px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    z-index: 600;
}
.shadow
{
    -webkit-box-shadow: -3px -4px 13px rgba(161, 166, 199, 0.75);
    -moz-box-shadow: -3px -4px 13px rgba(161, 166, 199, 0.75);
    box-shadow: -3px -4px 13px rgba(161, 166, 199, 0.75);
}
.right
{
    float: right;
}

.headerPopup
{
    background-repeat:repeat;
    z-index:6;
    display: none;
    position:absolute; left:46%; top:18%;
    text-align:left;
    background-color:white;
    border-style:solid;
    border-width:6px;
    border-color: #B4335D;
    border-radius: 8px;
    opacity:1.0;
    min-width: 530px;
}
.commPopup
{
    background-image: url('../../images/texture2.png');
    background-repeat:repeat;
    z-index:6;
    display: none;
    position:absolute; left:34%; top:0%;
    text-align:left;
    background-color:white;
    border-style:solid;
    border-width:6px;
    border-top-width: 0px;
    border-color: #B4335D;

    opacity:1.0;
    min-width: 330px;

    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    -webkit-box-shadow: 3px 3px 11px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 3px 11px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 3px 11px rgba(50, 50, 50, 0.75);
}
.myTripsPopup
{
    position:absolute; left:1%; top:20%;
}
.tradeButtons{
    font-size: 1.1em;

}
.seqPopupHeader
{
    background-color: #7F95B8;
    height: 23px;
    padding-left: 5px;
    padding-right: 5px;

    cursor:move;
}
.seqPopupContent
{
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.headerPopupContent
{
    margin: 5px;

}
.seqCancelButton
{
    height: 4px;
    /* margin-bottom: 4px; */
    float: right;
    /* margin-right: 4px; */
    /* margin-top: 0px; */
}
.calendarShadow
{
    box-shadow: 5px 5px 6px #333333;
    -webkit-box-shadow: 5px 5px 6px #333333;
    -moz-box-shadow: 5px 5px 6px #333333;
}
.headerBoxes
{
    margin-bottom: 7px;
}
.fourPartSelectBoxes{
    float: left;
    margin-top: -7px;
}
.dateBoxes{
    float: right;
    margin-top: -11px;
}
.accountLeft{
    position: absolute;
    top: 66px;
}
.ui-datepicker-trigger
{
        position: absolute;
    top: 35px;
}
.ui-datepicker-calendar{
    background-color: white;
}
.boxButtons
{
    margin-bottom: 4px;
}
.gridPulloutMyTripsDetails
{
    color: black;
    margin: 5px;
}
.gridPulloutGoogleDetails
{
    color: black;
    overflow: auto;
    margin: 5px;
    margin-top: 1px;
    max-height: 270px;
}
.n4tl
{
    margin-left: 50px;
}
.calTitle
{
    font-style: italic;
    color:#0033cc;
}
.cSelects {
    -moz-box-shadow:inset 0px 1px 0px 0px #d192be;
    -webkit-box-shadow:inset 0px 1px 0px 0px #d192be;
    box-shadow:inset 0px 1px 0px 0px #d192be;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c24688), color-stop(1, #960e59) );
    background:-moz-linear-gradient( center top, #c24688 5%, #960e59 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c24688', endColorstr='#960e59');
    background-color:#c24688;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border:1px solid #b51f8d;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:normal;
    font-style:normal;
    height:26px;
    line-height:26px;
    width: 85px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #8f034e;
}
.cSelects:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #960e59), color-stop(1, #c24688) );
    background:-moz-linear-gradient( center top, #960e59 5%, #c24688 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#960e59', endColorstr='#c24688');
    background-color:#960e59;
}.cSelects:active {
    position:relative;
    top:1px;
}
.cAutoSelects {
    -moz-box-shadow:inset 0px 1px 0px 0px #d192be;
    -webkit-box-shadow: inset 0px 1px 0px 0px #92B5D1;
    box-shadow: inset 0px 1px 0px 0px #92B3D1;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #469AC2), color-stop(1, #0E5596) );
    background:-moz-linear-gradient( center top, #c24688 5%, #960e59 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c24688', endColorstr='#960e59');
    background-color: #4682C2;
    -webkit-border-top-left-radius:0px;
    -moz-border-radius-topleft:0px;
    border-top-left-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    border-top-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-radius-bottomright:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-radius-bottomleft:0px;
    border-bottom-left-radius:0px;
    text-indent:0;
    border: 1px solid #1F91B5;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:normal;
    font-style:normal;
    height:26px;
    line-height:26px;
    width: 85px;
    text-decoration:none;
    text-align:center;
    text-shadow: 1px 1px 0px #03468F;
}
.cAutoSelects:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0E5596), color-stop(1, #469AC2) );
    background:-moz-linear-gradient( center top, #960e59 5%, #c24688 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#960e59', endColorstr='#c24688');
    background-color:#960e59;
}.cAutoSelects:active {
    position:relative;
    top:1px;
}
.HighlightedGreen a
{
    background-color: rgb(149, 218, 149) !important;
    background-image :none !important;
    color: blue !important;
    font-weight:bold !important;
    font-size: 11pt;
}
.HighlightedRed a
{
    background-color: rgb(221, 171, 177) !important;
    background-image :none !important;
    color: blue !important;
    font-weight:bold !important;
    font-size: 11pt;
}
.HighlightedGray a
{
    background-color: rgb(190, 190, 190) !important;
    background-image :none !important;
    color: blue !important;
    font-weight:bold !important;
    font-size: 11pt;
}
.toolTip1
{
    position: absolute;
    top:-20px;
    right: 30px;
}
.trackerVersion
{
    float: right;
    font-style: italic;
    font-weight:lighter;
    font-size: smaller;
    margin-right: 15px;
    margin-top: 5px;
}
.signout
{
    position: absolute;
    bottom: 0;
    color: black;
    margin-bottom: 10px;
}
.calendarFooter
{
    color: black;
    font-style: italic;
    font-size: 0.8em;
}
.refreshWord
{
    margin-left: 15px;
}
.getHeaders
{
    color: black;
    font-size: 0.8em;
    margin-bottom: 5px;
    font-weight: bold;
}
.hi1
{
    background-color: rgb(255, 236, 247);
    margin: 3px;
    padding: 9px;


    border-style:solid;
    border-width:3px;

    border-color: darkgray;



    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}
.hi2
{
    background-color: rgb(236, 240, 255);
    margin: 3px;
    padding: 9px;


    border-style:solid;
    border-width:3px;

    border-color: darkgray;



    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
}
.headWaiter
{
    margin-right: 5px;
    margin-left: 3px;
}
.autoTradeList
{
    line-height: 1.4em;
}
.hidden
{
    visibility:hidden;
}

.ui-jqgrid-hdiv{
    position: absolute !important;
}